nav {
  width: 200px;
  margin: 100px; }

nav li a {
  color: #fff !important; }

nav li a:hover {
  background-color: transparent !important;
  color: #f00 !important; }

nav li a:focus {
  background-color: transparent !important; }

.link2 {
  text-align: center; }

#img {
  position: fixed;
  margin-top: -100px; }

.nav-2 li a {
  color: #000 !important; }

.name {
  width: 200px;
  margin: 100px; }

.name h3 {
  margin-left: 12px; }

.name-index {
  color: #fff;
  width: 200px;
  margin: 100px;
  z-index: 2;
  position: relative; }

.name-index h3 {
  margin-left: 12px; }

#plus {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative; }

#ver {
  width: 2px;
  height: 10px;
  border: 1px solid #fff;
  left: 4px;
  position: absolute; }

#hor {
  width: 10px;
  height: 2px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 4px; }

/* */
.slide {
  display: none;
  position: absolute;
  top: 30vh;
  right: 0;
  width: 80vw;
  background-color: red;
  opacity: 0.5; }

.text {
  background-color: yellow;
  opacity: 0.5;
  display: table;
  margin: 0 auto;
  padding-top: 5%;
  width: 700px; }

.prev {
  margin: 150px 50px;
  float: left;
  background-color: blue;
  opacity: 0.5; }

.next {
  margin: 150px 50px;
  float: right; }

#img-1 img {
  height: 400px;
  float: left; }

.image-text {
  float: right;
  width: 150px;
  display: inline-block;
  background-color: aqua; }

.page {
  position: absolute;
  top: 15vh;
  left: 25vw; }

.number {
  margin: 50px 0 0 0; }

.number-1 {
  clear: both;
  padding: 50px 0 0 0;
  background-color: green;
  width: 50px; }
