@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
body {
  font-family: 'IBM Plex Sans', sans-serif; }

/* Navigation index page */
nav {
  width: 200px;
  line-height: 70%;
  margin: 50px; }

nav li a {
  color: #fff !important;
  text-decoration: underline !important; }

nav li a:hover {
  background-color: transparent !important;
  text-decoration: none !important; }

nav li a:focus {
  background-color: transparent !important; }

.link2 {
  margin-left: 10px; }

.img {
  position: fixed;
  margin-top: -100px; }

.nav-2 {
  line-height: 60%; }

.nav-2 li a {
  color: #000 !important; }

#navi-link {
  line-height: 100%; }

.navigation {
  margin-left: -15px; }

/* Main name */
.name {
  width: 200px;
  margin: 15px 0 -15px 50px; }
  .name h3 {
    margin-left: 12px; }

.name h3 a {
  color: #000;
  text-decoration: none; }

.name-index {
  color: #fff;
  width: 200px;
  margin: 15px 0 -15px 50px;
  position: relative;
  z-index: 2; }
  .name-index h3 {
    margin-left: 12px; }

.name-index h3 a {
  color: #fff;
  text-decoration: none; }

/* Variables for collapsive menu*/
#plus-a, #plus-b, #plus-2, #plus-3, #plus-d, #plus-c {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative; }

#ver-a, #ver-b {
  width: 2px;
  height: 10px;
  border: 1px solid #fff;
  left: 4px;
  position: absolute;
  background-color: #fff; }

#ver-2, #ver-3, #ver-d, #ver-c {
  width: 2px;
  height: 10px;
  border: 1px solid #000;
  left: 4px;
  position: absolute;
  background-color: #000; }

#hor-a, #hor-b {
  width: 10px;
  height: 2px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 4px;
  background-color: #fff; }

#hor-2, #hor-3, #hor-d, #hor-c {
  width: 10px;
  height: 2px;
  border: 1px solid #000;
  position: absolute;
  bottom: 4px;
  background-color: #000; }

/* Menu collapse plus div */
/* Slider */
.slide-container {
  bottom: 15px;
  height: 600px;
  width: 900px; }

.wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
  height: 600px;
  width: 700px; }

.images {
  position: absolute;
  display: table-cell;
  width: 700px;
  top: 50%;
  transform: translateY(-50%); }

.slide-text {
  text-align: justify; }

.prev {
  position: absolute;
  height: 100%;
  width: 10%;
  top: 0;
  left: 0; }

.next {
  float: right;
  height: 100%;
  width: 10%;
  position: absolute;
  right: 0;
  top: 0; }

.next img, .prev img {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }

.next img {
  float: right; }

.prev img {
  float: left; }

.number {
  position: absolute;
  bottom: -35px;
  left: 1px; }

.img-text {
  position: absolute;
  bottom: 0;
  width: 100px;
  right: 1px;
  margin-bottom: -7px;
  padding-left: 8px; }

/* Biography page */
.bio {
  margin-top: 20px; }

/* JS blur image on hover */
.open {
  filter: blur(3px); }

.closed {
  filter: blur(0px); }

/* Media screens ======================= */
@media screen and (max-width: 1300px) {
  .slide-container {
    height: 600px;
    width: 600px; }
  .wrapper {
    height: 600px;
    width: 500px; }
  .images {
    width: 500px; }
  .image img {
    max-width: 400px;
    max-height: 400px; }
  .next img {
    float: left; } }

@media screen and (max-width: 700px) {
  .slide-container {
    height: 400px;
    width: 400px; }
  .wrapper {
    height: 400px;
    width: 300px; }
  .images {
    width: 300px; }
  .image img {
    max-width: 200px;
    max-height: 200px; }
  .slide-text {
    max-height: 300px;
    overflow-y: scroll; } }

@media screen and (max-width: 458px) {
  .slide-container {
    height: 300px;
    width: 300px; }
  .wrapper {
    height: 300px;
    width: 200px; }
  .images {
    width: 200px; }
  .image img {
    max-width: 100px;
    max-height: 100px; }
  .slide-text {
    font-size: 12px;
    padding-right: 10px; }
  .img-text {
    font-size: 12px; } }
