@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
body {
  font-family: 'IBM Plex Sans', sans-serif; }

nav {
  width: 200px;
  line-height: 70%;
  margin: 50px; }

nav li a {
  color: #fff !important;
  text-decoration: underline !important; }

nav li a:hover {
  background-color: transparent !important;
  text-decoration: none !important; }

nav li a:focus {
  background-color: transparent !important; }

.link2 {
  margin-left: 10px; }

.img {
  position: fixed;
  margin-top: -100px; }

.nav-2 li a {
  color: #000 !important; }

.navigation {
  margin-left: -15px; }

.name {
  width: 200px;
  margin: 15px 0 -15px 50px; }
  .name h3 {
    margin-left: 12px; }

.name h3 a {
  color: #000;
  text-decoration: none; }

.name-index {
  color: #fff;
  width: 200px;
  margin: 15px 0 -15px 50px;
  position: relative;
  z-index: 2; }
  .name-index h3 {
    margin-left: 12px; }

.name-index h3 a {
  color: #fff;
  text-decoration: none; }

#plus {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative; }

#ver {
  width: 2px;
  height: 10px;
  border: 1px solid #fff;
  left: 4px;
  position: absolute; }

#hor {
  width: 10px;
  height: 2px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 4px; }

#plus-2 {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative; }

#ver-2 {
  width: 2px;
  height: 10px;
  border: 1px solid #000;
  left: 4px;
  position: absolute; }

#hor-2 {
  width: 10px;
  height: 2px;
  border: 1px solid #000;
  position: absolute;
  bottom: 4px; }

#plus-3 {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative; }

#ver-3 {
  width: 2px;
  height: 10px;
  border: 1px solid #000;
  left: 4px;
  position: absolute; }

#hor-3 {
  width: 10px;
  height: 2px;
  border: 1px solid #000;
  position: absolute;
  bottom: 4px; }

/* test */
.slide-container {
  bottom: 15px;
  height: 600px;
  width: 900px; }

.wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
  height: 600px;
  width: 700px; }

.images {
  position: absolute;
  display: table-cell;
  width: 700px;
  top: 50%;
  transform: translateY(-50%); }

.prev {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  left: 0; }

.prev p,
.next p {
  font-size: 25px;
  color: #000;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  padding: 30px; }

.next {
  float: left;
  height: 100%;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0; }

.number {
  position: absolute;
  bottom: -35px; }

.img-text {
  position: absolute;
  bottom: 0;
  width: 100px;
  right: 1px;
  margin-bottom: -12px;
  padding-left: 8px; }

.bio {
  margin-top: 20vh; }

#navi-link {
  line-height: 100%; }
