body
    background-image: url('../img/113.jpg')
    
nav
    width: 100px
    margin: 100px
    
nav a
    color: #fff !important
    
nav a:hover
    background-color: transparent !important
    color: #f00
    
nav a:focus
    background-color: transparent !important
    
.link2
    text-align: center