nav
    width: 200px
    margin: 100px

nav li a
    color: #fff !important
    
nav li a:hover
    background-color: transparent !important
    color: #f00 !important
    
nav li a:focus
    background-color: transparent !important
    
.link2
    text-align: center
    
#img
    position: fixed
    margin-top: -100px
    
.nav-2 li a
    color: #000 !important
    
.name
    width: 200px
    margin: 100px
    
.name h3
    margin-left: 12px
    
.name-index
    color: #fff
    width: 200px
    margin: 100px
    z-index: 2
    position: relative
    
.name-index h3
    margin-left: 12px
    
#plus
    width: 10px
    height: 10px
    display: inline-block
    position: relative
    
#ver
    width: 2px
    height: 10px
    border: 1px solid #fff
    left: 4px
    position: absolute
    
#hor
    width: 10px
    height: 2px
    border: 1px solid #fff
    position: absolute
    bottom: 4px
    
#ver:hover,
#hor:hover
    border-color: red
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    